<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ÉGLISE UKRAINIENNE ORTHODOXE AUTOCÉPHALE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
  </head>
  <body>
    <header class="top-line link">
      <div class="container">
        <div class="header-div">
          <ul class="list ul-header">
            <li class="list-1">
              <h1 class="logo link">
                УKRAЇНСЬKA AВTOKEФAЛЬНA ПРAВOСЛAВНA ЦEРKВA
              </h1>
              <p class="link">Пaрaфія Св. Симона y Парижі</p>
            </li>
            <li class="list-2">
              <img
                class="link img-church"
                src="../images/Church.jpg"
                alt="church"
                width="300px"
                height="200px"
              />
              <p class="link">6, rue de Palestine 75019 Paris</p>
            </li>
            <li class="list-3">
              <h1 class="logo link">
                ÉGLISE UKRAINIENNE ORTHODOXE AUTOCÉPHALE
              </h1>
              <p class="link">Paroisse St. Simon à Paris</p>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <nav class="nav link">
      <ul class="list link ul">
        <li class="link menu-list">
          <a class="link nav-link" href="../index.html">Новини</a>
        </li>
        <li class="link menu-list">
          <a class="link nav-link" href="./aboutUs.html">Про нас</a>
        </li>
        <li class="link menu-list">
          <a class="link nav-link" href="./proects.html">Проєкти</a>
        </li>
        <li class="link menu-list">
          <a class="link nav-link" href="./PastorWords.html"
            >Пасторське слово</a
          >
        </li>
        <li class="link menu-list">
          <a class="link nav-link" href="./horaire.html">Графік</a>
        </li>
        <li class="link menu-list">
          <a class="link nav-link border" href="">Контакти</a>
        </li>
        <li class="link menu-list">
          <a class="link nav-link" href="./help.html">Підтримати</a>
        </li>
      </ul>
    </nav>
    <p>contacts</p>
  </body>
</html>
