.contact-ul {
  margin-top: 40px;
  display: flex;
}
.div-contact {
  margin-bottom: 150px;
}
.li-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: bisque;
  width: 270px;
  padding: 20px 20px 20px 20px;
  margin-right: auto;
}
.title-contacts {
  margin-top: 70px;
  font-size: 40px;
}
.contact-li {
  font-size: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.contact-nav {
}
.margin-contact {
  margin-bottom: 20px;
}
