.top-line {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.ul {
  display: flex;
  gap: 40px;
}
.logo {
  color: rgb(215, 182, 84);
  margin-right: 65px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo:hover,
.logo:focus {
  color: rgb(1, 1, 1);
}
.border {
  color: #404bbf;
}
.nav {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}
.nav-link.border::after {
  transform: scaleX(1);
}
.border {
  color: #000000;
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(215, 182, 84);
}
