.top-line {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #1e447a;
}
.ul {
  display: flex;
  gap: 40px;
}
.svg {
  margin-right: 5px;
}
.svg-span {
  margin-top: 7%;
}


.nav {
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin-left: 330px;
}
.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(252, 248, 248);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgb(215, 182, 84);
  border-radius: 2px;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}
.nav-link.border::after {
  transform: scaleX(1);
}
.border {
  color: rgb(215, 182, 84);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(215, 182, 84);
}
/* list header */

/* list-1 */
.list-1 {
  flex-direction: column;
}
.logo {
  padding-top: 10px;
  color: rgb(215, 182, 84);
  padding-bottom: 35px;
}
.logo:hover,
.logo:focus {
  color: #e09b2d;
}
/* list-2 */
.list-2 {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-right: 45px;
}
/* list-3*/
.list-3 {
  flex-direction: column;
  display: flex;
}

.ul-header {
  display: flex;
}

#language-select {
  position: absolute;
  top: 20px; /* Відстань від верхнього краю */
  right: 20px; /* Відстань від правого краю */
  padding: 5px;
  font-size: 16px;
  border-radius: 5px; /* Округлені кути */
}

label[for='language-select'] {
  position: absolute;
  top: 20px;
  right: 150px; /* Трошки лівіше, ніж сам select */
  font-size: 16px;
  color: rgb(215, 182, 84); /* Колір тексту */
  font-family: 'Arial', sans-serif; /* Шрифт */
  letter-spacing: 1px; /* Відстань між літерами */
  text-transform: uppercase; /* Великі літери */
  /* background-color: rgba(
    255,
    255,
    255,
    0.7
  );  */
  padding: 5px;
  border-radius: 5px; /* Округлені кути */
}


.menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left:0 ;
  background-color: #1e447a;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 22px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}
.menu a:hover {
  color: #fff;
}
.menu .languages {
  position: absolute;
  width: 100%;
  text-align: center;
}
.menu .languages a {
  font-size: 18px;
  display: inline-block;
  margin: 0 10px;
}
.open-btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 30px;
  color: #e7f098;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
}