.div-bg {
  background-color: #4a7abe;
  /* display: flex; */
  width: 800px;
  box-shadow: 20px 20px 20px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-radius: 20px;
}
.section-help {
  margin-top: 80px;
  margin-left: 90px;
}
.title-help {
  margin-top: 150px;
  font-size: 40px;
  margin-bottom: 40px;
}
.dl-header {
  display: flex;
}
.container-help-card {
  width: 700px;
  padding: 20px 20px 20px 40px;
}
.svg-div {
  margin-bottom: 40px;
  margin-left: auto;
}
.title-church {
  margin-top: 10px;
  color: rgb(215, 182, 84);
}
.list-card {
  row-gap: 10px;
}
.text-title-help {
  margin-top: auto;
  padding-bottom: 8px;
  color: rgb(215, 182, 84);
}
.under-text-help {
  justify-content: center;
  margin-left: 200px;
  color: rgb(215, 182, 84);
}
.help-contacts-div {
  margin-top: 80px;
  margin-bottom: 60px;
}
.help-contacts-text {
  font-size: 20px;
}

.help-contacts-link {
  color: #fcfcfc;
}

.help-contacts-link:hover,
.help-contacts-link:focus {
  color: rgb(224, 209, 165);
}

/* FOOTER */
.footer {
  padding: 30px 0;
  background-color: #1e447a;
}

.footer-text{
  padding-top: 30px;
  margin-left: 445px;
}